<div>
  <% if (locals.errors) { %>
    <div class="errors">
      You need to fix the following errors:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitRoutePath %>" method="post">
    <% if (!route.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= route.name %>" />
    </div>
    <div class="field">
      <label for="description">Description</label>
      <input type="text" name="description" value="<%= route.description %>" />
    </div>
    <div class="field">
      <% if (route.isNewRecord) { %>
        <input class="btn btn-blue" type="submit" name="create" value="Create" />
      <% } else { %>
        <input class="btn btn-blue" type="submit" name="update" value="Update" />
      <% } %>
    </div>
  </form>
</div>
