<form action="<%= submitPicturePath %>" enctype="multipart/form-data" method="post">
    <div class="pictures-form">
      <input class="btn btn-green" type="file" name="image" />
      <input class="btn btn-green" type="submit" name="upload" value="Upload Image" />
    </div>
  </form>
