<form action="<%= submitPicturePath %>" enctype="multipart/form-data" method="post">
    <div class="field">
      <input type="file" name="image" />
    </div>
    <div class="field">
      <input type="submit" name="upload" value="Upload Image" />
    </div>
  </form>
