<div>
  <form action="<%= placePath(place) %>" method="post">
    <div>
      <label for="comment">Comment</label>
      <textarea name="review">
      </textarea>
    </div>
    <input class="btn" type="submit" value="Submit">
  </form>
</div>
