<div>
  <form action="<%= placePath(place) %>" method="post">
    <div>
      <textarea name="review">
      </textarea>
    </div>
    <input class="btn btn-blue" type="submit" value="Submit">
  </form>
</div>
