<h2 class="text-center">Places</h2>

<div id="route-search-app" data-place-path="/places/" data-edit-place-path="/places/"
  data-delete-place-path="/places/"  data-admin="<%= userIsAdmin() %>">
  Loading...
</div>


<% if (currentUser) { %>
  <div class="new-place">
    <a class="btn btn-blue" href="<%- submitPlacePath %>">New place</a>
  </div>
<% } %>
