<div class="add-member-group">
	<p>Looks like you are not a member of this group. Click here to join it!</p>

  <form action="<%= profilePathGroup(group) %>" method="post">
    <input class="btn btn-green" type="submit" value="Join Group">
  </form>
	
</div>
