<div>
    <form action="<%= commentPath %>" method="post">
      <div>
        <textarea name="comment">
        </textarea>
      </div>
      <input class="btn btn-blue" type="submit" value="Submit">
    </form>
  </div>
  