<div class="container">
	<h2><%- group.name %>'s hub</h2>

	<h3> Members: </h3>

	<% members.forEach( (member) => { %>

	    <p><%- member.name %> </p>

	<% }); %>

	<%- include('_addMember') %>
</div>
