<div class="slideshow">
    <ul class="slider">
        <li>

            <img src="/assets/1.jpg" alt="">
            <section class="caption">
                <h1>Group & Individuals Trips</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora debitis dicta dignissimos doloribus nam sit.</p>
            </section>

        </li>
        <li>

            <img src="/assets/2.jpg" alt="">
            <section class="caption">
                <h1>Group & Individuals Trips</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora debitis dicta dignissimos doloribus nam sit.</p>
            </section>

        </li>
        <li>

            <img src="/assets/3.jpg" alt="">
            <section class="caption">
                <h1>Group & Individuals Trips</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora debitis dicta dignissimos doloribus nam sit.</p>
            </section>

        </li>
        <li>

            <img src="/assets/4.jpg" alt="">
            <section class="caption">
                <h1>Group & Individuals Trips</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora debitis dicta dignissimos doloribus nam sit.</p>
            </section>

        </li>

    </ul>
    <ol class="pagination">
    </ol>

    <div class="left">
        <span class="fa fa-chevron-left"></span>
    </div>

    <div class="right">
        <span class="fa fa-chevron-right"></span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="four">
        <div class="section">
            <a href="users/page/1"><img src="/assets/users.png" alt="users"></a></h2>
            <h2><a href="users/page/1">Users</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, aspernatur.</p>            
        </div>
        </div>
        <div class="four">
        <div class="section">
            <a href="places/"><img src="/assets/places.png" alt="places"></a>
            <h2><a href="places/">Places</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, maiores.</p>            
        </div>
        </div>
        <div class="four">
        <div class="section">
            <a href="groups/"><img src="/assets/groups.png" alt="groups"></a>
            <h2><a href="groups/">Groups</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eum.</p>
        </div>
        </div>
    </div>

</div>

<div class="row">
<div class="about">
    <div class="seven">
        <h2 class="about-header">TOCHOVA</h2>
        <p>TOCHOVA is a trekking page ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sapiente reprehenderit quis in natus quisquam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod sint, aut doloribus placeat. Eveniet, adipisci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, recusandae.</p>
    </div>
    <div class="five">
        <h3 class="about-header">Contact Us</h3>
        <p>Tweet us at @Tochova</p>
        <p>Give us a call on +44 (0)123456789</p>
        <p>Fork on GitHub <a href="https://github.com/IIC2513-2018-1/grupo-tochova/">GitHub</a></p>
    </div>        
</div>
</div>


<div class="row">
<div id="footer">
    <p>TOCHOVA &copy; 2018</p>
</div>
</div>


