<div class="row">
    <div class="hero-image">
        <h2>Group & Individuals Trips</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, unde.</p>
        // This link goes to submitUserPath
        <a href="#" class="btn">Sign Up</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="four">
        <div class="section">
            <h2><a href="users/">Users</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, aspernatur.</p>            
        </div>
        </div>
        <div class="four">
        <div class="section">
            <h2><a href="places/">Places</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, maiores.</p>            
        </div>
        </div>
        <div class="four">
        <div class="section">
            <h2><a href="groups/">Groups</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eum.</p>
        </div>
        </div>
    </div>

    <div class="row">
    <div class="about">
        <div class="nine">
            
        </div>
        <div class="three">
            
        </div>        
    </div>
    </div>

</div>

<div class="row">
<div id="footer">
    
</div>
</div>


