<div class="container">
	<h1>Tochova</h1>


	<div class="section"> <a href="users/">Users</a> </div>
	<div class="section"> <a href="places/">Places</a> </div>
	<div class="section"> <a href="groups/">Groups</a> </div>

</div>
