<div class="row">
    <div class="hero-image">
        <h2>Group & Individuals Trips</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, unde.</p>
        // This link goes to submitUserPath
        <a href="#" class="btn">Sign Up</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="four">
        <div class="section">
            <div class="glaphicon"><img src="/assets/users.png" alt="users"></div>
            <h2><a href="users/">Users</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, aspernatur.</p>            
        </div>
        </div>
        <div class="four">
        <div class="section">
            <div class="glaphicon"><img src="/assets/places.png" alt="places"></div>
            <h2><a href="places/">Places</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, maiores.</p>            
        </div>
        </div>
        <div class="four">
        <div class="section">
            <div class="glaphicon"><img src="/assets/groups.png" alt="groups"></div>
            <h2><a href="groups/">Groups</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eum.</p>
        </div>
        </div>
    </div>

</div>

<div class="row">
<div class="about">
    <div class="seven">
        <h2 class="about-header">TOCHOVA</h2>
        <p>TOCHOVA is a trekking page ipsum dolor sit amet, consectetur adipisicing elit. Pariatur sapiente reprehenderit quis in natus quisquam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod sint, aut doloribus placeat. Eveniet, adipisci.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, recusandae.</p>
    </div>
    <div class="five">
        <h3 class="about-header">Contact Us</h3>
        <p>Tweet us at @Tochova</p>
        <p>Give us a call on +44 (0)123456789</p>
        <p>Fork on GitHub <a href="https://github.com/IIC2513-2018-1/grupo-tochova/">GitHub</a></p>
    </div>        
</div>
</div>


<div class="row">
<div id="footer">
    
</div>
</div>


