<div class="container">
	<h1>FAQ</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat adipisci asperiores accusantium, fuga repellat rerum saepe architecto non ea. Impedit tempora ratione, maxime fuga iure accusamus. Ullam laudantium, temporibus facilis!</p>
</div>
