<div class="container">
	<h1>Tips</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quasi dolor laudantium quo error ipsam nobis accusantium, veniam harum iure! Nam vero magni rem ut tenetur id maxime iure dolores.</p>
</div>
