<div class="container">
		<div>
				<ul>
					<li>
						<h3>Tip Nº1: Explore the places!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt consequat justo. Morbi faucibus convallis quam quis aliquam. Nulla sagittis odio at cursus aliquet. Vestibulum vel tellus ut metus venenatis dapibus mattis bibendum turpis. In tempor lacus in dui viverra mattis. Sed cursus iaculis ligula, nec molestie turpis tristique at. Suspendisse laoreet dictum risus ac consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc nec orci non orci pellentesque scelerisque quis eget neque. Vestibulum vel mollis velit. Integer vel faucibus nibh. Donec gravida velit at ex pulvinar, eget eleifend sapien consectetur. Ut arcu purus, ullamcorper ac tempus non, lacinia a diam. Quisque eget suscipit nibh.</p>
					</li>
					<li>
						<h3>Tip Nº2: Make groups!!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt consequat justo. Morbi faucibus convallis quam quis aliquam. Nulla sagittis odio at cursus aliquet. Vestibulum vel tellus ut metus venenatis dapibus mattis bibendum turpis. In tempor lacus in dui viverra mattis. Sed cursus iaculis ligula, nec molestie turpis tristique at. Suspendisse laoreet dictum risus ac consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc nec orci non orci pellentesque scelerisque quis eget neque. Vestibulum vel mollis velit. Integer vel faucibus nibh. Donec gravida velit at ex pulvinar, eget eleifend sapien consectetur. Ut arcu purus, ullamcorper ac tempus non, lacinia a diam. Quisque eget suscipit nibh.</p>
					</li>
					<li>
							<h3>Tip Nº3: Add your favorites routes</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt consequat justo. Morbi faucibus convallis quam quis aliquam. Nulla sagittis odio at cursus aliquet. Vestibulum vel tellus ut metus venenatis dapibus mattis bibendum turpis. In tempor lacus in dui viverra mattis. Sed cursus iaculis ligula, nec molestie turpis tristique at. Suspendisse laoreet dictum risus ac consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc nec orci non orci pellentesque scelerisque quis eget neque. Vestibulum vel mollis velit. Integer vel faucibus nibh. Donec gravida velit at ex pulvinar, eget eleifend sapien consectetur. Ut arcu purus, ullamcorper ac tempus non, lacinia a diam. Quisque eget suscipit nibh.</p>
						</li>
				</ul>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat adipisci asperiores accusantium, fuga repellat rerum saepe architecto non ea. Impedit tempora ratione, maxime fuga iure accusamus. Ullam laudantium, temporibus facilis!</p>
		</div>
