<div class="container">
    <div>
            <h1>5 Climbs</h1>
            <p>You can earn this trophy when you climb five times in total.</p>
    </div>
	<div>
            <h1>10 Climbs</h1>
            <p>You can earn this trophy when you climb ten times in total.</p>
    </div>
    <div>
            <h1>25 Climbs</h1>
            <p>You can earn this trophy when you climb twenty-five times in total.</p>
    </div>
    <div>
            <h1>50 Climbs</h1>
            <p>You can earn this trophy when you climb fifty times in total.</p>
    </div>
    <div>
            <h1>100 Climbs</h1>
            <p>You can earn this trophy when you climb one hundred times in total.</p>
    </div>
</div>
