.group-container {
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 30px;
  border: solid 2px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-group {
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 30px;
}

.group-profile-container {
  width: 80%;
  margin: 20px auto 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 490px auto;
  grid-template-areas:
    "name"
    "members"
    "comments";
  grid-gap: 1.5em;
}

.group-profile-name {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.group-members {
  grid-area: members;
}

.group-comments {
  grid-area: comments;
}
