.place-description {
    height: 443px;
}

.four {
    height: 100%;
    background-color: #59ABE3;
}

.place-description h3 {
    text-align: center;
}

.place-container {
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 30px;
  border: solid 2px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-place {
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 30px;
}

.place-profile-container {
  width: 80%;
  margin: 20px auto 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 490px auto;
  grid-template-areas: 
  	"descr routes"
  	"rev rev";	
}

.place-description {
	grid-area: descr;
}

.place-routes {
	grid-area: routes;
}

.place-reviews {
	grid-area: rev;
}