.place-description {
    height: 443px;
}

.four {
    height: 100%;
    background-color: #59ABE3;
}

.place-description h3 {
    text-align: center;
}

.place-container {
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 30px;
  border: solid 2px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-place {
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 30px;
}

.place-profile-container {
  width: 80%;
  margin: 20px auto 0 auto;

  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: minmax(400px, auto) auto minmax(600px, auto) ;
  grid-template-areas:
  	"descr routes wheather"
    "rev rev rev"
    "map map map";
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;

}

.place-profile-description {
	grid-area: descr;
}

.place-routes {
	grid-area: routes;
  display: flex;
  flex-direction: column;
}

.place-routes .new-route-btn {
  align-self: center;
  margin-top: auto;
  margin-bottom: 1.5em;
}

.place-reviews {
	grid-area: rev;
}

.place-wheather {
  grid-area: wheather;
}

.weather-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.refresh-weather {
  align-self: center;
  margin-top: auto;
  margin-bottom: 1.5em;
}

#map {
  grid-area: map;
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.marker {
  background-image: '/assets/places.png';
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
