.title{
  text-align: left;
}

.routes-item{
  text-align: center;
  padding-right: 50px;
}

#comments {
  display: block;
}

#routes {
  display: block;
}

#comments .comment{
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.user-description {
    height: 443px;
}

.four {
    height: 100%;
    background-color: #59ABE3;
}

.user-description h3 {
    text-align: center;
}

.login {
  width: 40%;
  margin: auto;
}