.title{
  text-align: left;
}

.routes-item{
  text-align: center;
  padding-right: 50px;
}

#comments {
  display: block;
}

#routes {
  display: block;
}

#comments .comment{
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.user-description {
    height: 443px;
}

.user-description h3 {
    text-align: center;
}

.login {
  width: 40%;
  margin: auto;
}

.img-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-container {
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 30px;
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: space-around;  
}


.user-profile-container {
  width: 80%;
  margin: 20px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 443px 100px auto;
  grid-template-areas: 
    "img routes ach"
    "name routes ach"
    "comm comm comm";
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
}

.user-picture {
  grid-area: img;
  display: flex;
  flex-direction: column;
}

.user-name {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.user-routes {
  grid-area: routes;
}

.user-achievements {
  grid-area: ach;
}

.user-comments {
  grid-area: comm;
}

.card h2 {
  margin: 0;
}

.comment-header {
  display: flex;
}

.comment-author {
  font-size: 16px;
  font-weight: bold;
  flex:1;
}

.comment-date {
  color: #757575;
  font-size: 0.8rem;
}

.comment-body {
  font-size: 14px;
}
