<% if (currentUser) { %>
  <div>
    <form action="<%= profilePath(user) %>" method="post">
      <div>
        <textarea name="comment">
        </textarea>
      </div>
      <input type="submit" value="Comment">
    </form>
  </div>
<% } %>
