<form action="<%= submitPicturePath %>" enctype="multipart/form-data" method="post">
  <div class="field">
    <label for="image">Select image</label>
    <input type="file" name="image" />
  </div>
  <div class="field">
    <input type="submit" name="upload" value="Upload" />
  </div>
</form>
