<form action="<%= submitPicturePath %>" enctype="multipart/form-data" method="post">
  <div class="input-field">
    <input for="file" class="btn btn-blue" type="file" name="image" />
  </div>
  <div class="input-field">
    <input class="btn btn-blue center-block" type="submit" name="upload" value="Upload" />
  </div>
</form>
