<h2 class="text-center">Gallery</h2>

<% if (!images.length) { %>
  <p>No results</p>
<% } %>


<% images.forEach((image) => { %>
  <img src=<%-image.url%>>
<% }) %>


<div class="place-container">
  <% if (pageNumber > 1) {%>
    <a class="btn btn-blue" href="<%- previousPagePath() %>">Previous</a>
  <% } %>

  <% if (images.length) { %>
    <a class="btn btn-blue" href="<%- nextPagePath() %>">Next</a>
  <% } %>

</div>
